.section-card-group{
    width: 100%;
    padding-bottom: 5%;

    overflow-y: hidden;
    overflow-x: scroll;

    white-space: nowrap;

    display: flex;
    align-items: center;
    column-gap: 10px;

    & > .card{
        display: inline-block;

        flex-shrink: 0;
        height: 100%; 
        aspect-ratio: 1 / 2;

        background-color: rgb(161, 206, 235);
        
        
        & > .header-card-topButtons{
            max-height: 45px;
            height: 10%;
            
            
            & > *{
                height: 100%;
                aspect-ratio: 1 / 1;                

                & > *{
                    height: 100%;
                    aspect-ratio: 1 / 1;    
                    padding: 5%;
                }
            }
        }
        
        & > .a-card-main{
            height: 90%;
            aspect-ratio: 1 / 2;
            
            
            & > .sections-card-imgsBox{
                height: 50%;
                overflow: hidden;
                

                & > .figure-card-imgFrame{
                    height: 100%;
                    margin: 0px 0px 0px;

                    aspect-ratio: 1 / 1;


                    & > img {
                        width: 100%;
                        height: 100%;

                        object-fit: cover;

                        top: 50%;
                        left: 50%;
                    }

                    & > img:hover {
                        object-fit: contain;
                    }
                }
            }

            .card-body{
                height: 50%;
                aspect-ratio: 1 / 1;
                background-color: transparent;
                white-space: wrap;
                overflow: hidden;
            }
        }
    }
}

.main-browser{    
    padding: 0px 3vw 0px;


    & > .section-browser-body{


        & > .section-browser-searchs:has(>*), .section-browser-favorites:has(>*), .section-browser-recommendations:has(>*){
            width: 100%;
            min-height: 400px;
            height: 80vmin;
            display: flex;
            flex-direction: column;
    
        }
    }
}

.BW-nav-browser-pagination{
    height: 100%;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;


    & > .BW-ul-pagination-vertical{
        list-style: none;

        width: 100%;
        height: 100%;

        & > *{
            &:hover{
                background-color: lightblue;
            }
        }
        & > .BW-li-pagination-item{
            width: 100%;
            aspect-ratio: 1 / 1;

            border: 2px solid black;
            overflow: hidden;


            & > label{
                width: 100%;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;


                & > *{
                    margin: 0px;
                    padding: 0px;
                }
                & > input[type = "radio"]{
                    display: none;
                }

                &:has(input:checked, input:focus){
                    background-color: aqua;
                }
            }

            &.BW-pagination-back{
                border-radius: 10px 10px 0px 0px;
            }
            &.BW-pagination-min{

                
            }
            &.BW-pagination-current{
                & input[type="number"] input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;


                }
                & > label > input[type="number"]{
                    width: 100%;
                    height: 100%;

                    text-align: center;
                    border: none;

                    background-color: transparent;

                }
                  
            }
            &.BW-pagination-max{

            }
            &.BW-pagination-forward{
                border-radius: 0px 0px 10px 10px;
            }


        }
    }
}

#form-pagination-recommendations{

}