.section-card-group{
    width: 100%;
    height: 75vmin;

    overflow-y: hidden;
    overflow-x: scroll;

    white-space: nowrap;


    & > .card{
        display: inline-block;
        height: 100%; 
        aspect-ratio: 1 / 2;
        background-color: rgb(161, 206, 235);
        
        
        & > .header-card-topButtons{
            max-height: 45px;
            height: 10%;
            
            
            & *{
                height: 100%;
                aspect-ratio: 1 / 1;
            }
        }
        
        & > .a-card-main{
            height: 90%;
            aspect-ratio: 1 / 2;
            
            
            & > .sections-card-imgsBox{
                height: 50%;
                

                & > .figure-card-imgFrame{
                    height: 100%;
                    margin: 0px 0px 0px;

                    aspect-ratio: 1 / 1;


                    & > img {
                        width: 100%;
                        height: 100%;

                        object-fit: cover;

                        top: 50%;
                        left: 50%;
                    }

                    & > img:hover {
                        object-fit: contain;
                    }
                }
            }

            .card-body{
                height: 50%;
                aspect-ratio: 1 / 1;
                background-color: transparent;
                white-space: wrap;
            }
        }
    }
}

.main-browser{    
    padding: 0px 3vw 0px;
    
}
.header-browser-searchbar, .section-browser-body{

}
.section-browser-searchs, .section-browser-favorites, .section-browser-recommendations{
}