.ibm-plex-serif-thin {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: normal;
}
  
.ibm-plex-serif-extralight {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: normal;
}
  
.ibm-plex-serif-light {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: normal;
}
  
.ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-serif-medium {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-serif-semibold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-serif-bold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-serif-thin-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-serif-extralight-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-serif-light-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-serif-regular-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-serif-medium-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-serif-semibold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-serif-bold-italic {
  font-family: "IBM Plex Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.body-map-page{
  display: flex;
  flex-direction: column;
  max-height: 100vh;


  & > header{
    flex-basis: content;
    flex-shrink: 0;
    flex-grow: 0;
  }

  & > .main-map-container{
    flex-shrink: 1;
    flex-grow: 0;
    min-height: 0px;
    position: relative;
    overflow: hidden;
  }
}

#map { 
  height: 1000px; 
  z-index: 0;

}

.aside-browser{
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 0px;

  width: 40%;
  max-height: 100%;
  height: 100%;

  padding: 0px 2vw 0px;

  display: flex;
  flex-direction: column;

  border: 2px solid black;


  & > *{
    min-height: 0px;

  }
  & > .header-browser-searchbar{
    flex-basis: content;
    flex-grow: 0;
  }

  & > .section-browser-body{
    flex-shrink: 1;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;


    & > .section-browser-searchs:has(>*), .section-browser-favorites:has(>*), .section-browser-recommendations:has(>*){
        flex-grow: 1;
        
        width: calc(100% - (2 * 3vw));
        height: 75vmin;

    }
  }
}
/*
.hello{
  .main-map-container{
    flex-grow: 1; 
    position:relative;
    overflow: hidden;
    
    & > .aside-miniBrowser-container{
        position: absolute;
        z-index: 1;
        right: 0px;
        top: 0px;
        width: 100px;
        overflow-y: scroll;
        & > .header-miniBrowser-searchbar{
            height: fit-content;
        };
        & > .section-miniBrowser-body{
  
  
            & > .section-miniBrowser-searchResults, & > .section-miniBrowser-favorites, & > .section-miniBrowser-recommendations{
                
                & > .categoryOfRestaurantCards{
                    height: 50vmin;
                };
            };
  
        };
    };
  
  };
} */
