.BW-nav-browser-pagination{
    height: 100%;
    width: 6%;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;


    & > .BW-ul-pagination-vertical{
        list-style: none;

        width: 100%;

        padding: 0px;
        margin: 0px;

        & > *{
            &:hover{
                background-color: lightblue;
            }
        }
        & > .BW-li-pagination-item{
            width: 100%;
            aspect-ratio: 1 / 1;

            border: 2px solid black;
            overflow: hidden;



            & > .BW-button-pagination-turnPage{
                width: 100%;
                height: 100%;
                text-align: center;
            }

            & > .BW-number-pagination-turnPage{
                width: 100%;
                height: 100%;
            }


            &.BW-pagination-back{
                border-radius: 10px 10px 0px 0px;
            }
            &.BW-pagination-min{

                
            }
            &.BW-pagination-current{
                & input[type="number"] input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }
            &.BW-pagination-max{

            }
            &.BW-pagination-forward{
                border-radius: 0px 0px 10px 10px;
            }


        }
    }
}