.OE-card-design-resto{
  display: inline-block;
  width: 18rem;
  max-height: fit-content;
}

.OE-bg-img-cloudly-blue{
  background-image: url("../background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.OE-bg-transparent-white{
  border: 2px solid white; 
  border-radius: 10px; 
  background-color: rgb(225 225 225 / 0.3);
}
.OE-bg-transparent60-white{
  border: 2px solid white; 
  border-radius: 10px; 
  background-color: rgb(225 225 225 / 0.6);
}

.OE-menu-pagination{
  width: fit-content;
  height: 100%;

  padding: 0px;
  list-style: none;

  display: flex;
  flex-direction: row;


  & > li{
      width: 4rem;
      aspect-ratio: 1 / 1;
      overflow: hidden;

      border-top: 2px solid black;
      border-bottom: 2px solid black;;
      border-right: 2px solid black;


      &:first-child{
          border-left: 2px solid black;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
      }

      &:last-child{
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
      }



      & > *{
          width: 100%;
          height: 100%;
          text-align: center;
          vertical-align: middle;
          background: none;
          border: none;
      }

      & input[type="number"] input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
          -webkit-appearance: none;
      }
  }
}



.sections-card-imgsBox{
  height: 50%;
  overflow: hidden;
  

  & > .figure-card-imgFrame{
      height: 100%;
      margin: 0px 0px 0px;

      aspect-ratio: 1 / 1;


      & > img {
          width: 100%;
          height: 100%;

          object-fit: cover;

          top: 50%;
          left: 50%;
      }

      & > img:hover {
          object-fit: contain;
      }
  }
}

.OE-img{
  &.img-resto{
      width: 100%;
      aspect-ratio: 1 / 1;

      object-fit: cover;
      left: 50%;
  }

  &:hover {
      object-fit: contain;
  }

}








.filter-opition {
  display: inline-block;
  width: 250px;
  margin-right: 10%;
}

.filter-accordion-body {
  border: 1px solid black;
}

#miniBrowserCollapser_buttonId {
  background-color: transparent;
  border: none;
  width: 100%;
}


.categoryOfRestaurantCards {
  height: 75vmin;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;

  &>.card {
    display: inline-block;
    max-width: 100vw;
    max-height: 100vh;
    height: 100%;
    aspect-ratio: 1 / 2;
    background-color: rgb(161, 206, 235);


    &>.header-card-topButtons {
      max-height: 45px;
      height: 10%;


      & * {
        height: 100%;
        width: auto;
        aspect-ratio: 1 / 1;
      }

      ;
    }

    ;

    &>.a-card-main {
      height: 90%;
      aspect-ratio: 1 / 2;


      &>.sections-card-imgsBox {
        height: 50%;
        aspect-ratio: 1 / 1;
      }
    }
  }
}

#nav-primary {
  background-color:		#ace9e7 ;


  & li:hover {
    background-color: lightcyan;

  }

  & li {
    padding: 1rem;
  }

}

.account-dropdown li {
  padding: 0rem !important;
}

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Jaro";
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

body {
  text-align: center;
}

.info {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.hero {
  position: relative;
}

.hero > .wrapper {
  position: absolute;
  inset: 0;
  top: -50px;
}

nav {
  z-index: 99;
}


