.OE-bg-img-cloudly-blue{
  background-image: url("../background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.OE-bg-transparent-white{
  border: 2px solid white; 
  border-radius: 10px; 
  background-color: rgb(225 225 225 / 0.3);
}
.OE-bg-transparent60-white{
  border: 2px solid white; 
  border-radius: 10px; 
  background-color: rgb(225 225 225 / 0.6);
}


#nav-primary {
  background-color:		#ace9e7 ;


  & li:hover {
    background-color: lightcyan;

  }

  & li {
    padding: 1rem;
  }

}

.account-dropdown li {
  padding: 0rem !important;
}

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Jaro";
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}



.info {
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.hero {
  position: relative;
}

.hero > .wrapper {
  position: absolute;
  inset: 0;
  top: -50px;
}

nav {
  z-index: 99;
}


