<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Bootstrap demo</title>

     <section id="CSS-primaryRepository">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
               integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

          <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
               integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>

          <link rel="stylesheet" href="/static/css/card.css">
          <link rel="stylesheet" href="/static/css/pagination.css">
          <link rel="stylesheet" href="/static/css/map.css">
          <link rel="stylesheet" href="/static/css/style.css">
     </section>
    {% set search_input =  
                    request.args.get('query') 
                    or 
                    request.args.get('dietary_restriction_radio') 
                    or
                    request.args.get('price_min_filter') 
                    or 
                    request.args.get('price_max_filter') 
    %} {# let the browser know if there was a search #}
</head>
<body class="body-map-page">

     <header>
          {% include "components/navbar.html.jinja" %}
     </header>


     <main class="main-map-container">

          <aside class="aside-browser">
               <header class="header-browser-searchbar">
                    {% with current_route = "/map"%}
                         {% include "components/search_bar.html.jinja" %}
                    {% endwith %}
                    <button id="accordion-miniBrowser-toogleBtn" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-miniBrowser" aria-expanded="true" aria-controls="collapseOne">
                         <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15">
                              <path d="M14 5l-6.5 7L1 5" stroke="currentColor" stroke-linecap="square"></path>
                         </svg>                         
                    </button>
               </header>

               <div id="accordion-miniBrowser" class="accordion-collapse collapse {% if search_input %}show{% endif %}">
                    {% include "components/browser_body.html.jinja" %}
               </div>

          </aside>

          <div id="map"></div>
     
     </main>


     <section id="JavaScript-primaryRepository">
          <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
          
          <script>
               var map = L.map('map').setView([51.505, -0.09], 13);

               L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
               }).addTo(map);

               {% if search_information %}
                    {% for restaurant in search_information %}
                         L.marker([{{ restaurant["lat"] }},{{restaurant["lng"]}}]).addTo(map)
                              .bindPopup(`{{ restaurant["name"]}} {{ restaurant["description"]}} <img src="{{restaurant['image']}}" class="card-img-top md" alt="{{restaurant['name']}}">`)
                              .openPopup();
                    {% endfor %}
               {% else %}
                    {% for restaurant in restaurant_information %}
                         L.marker([{{ restaurant["lat"] }},{{restaurant["lng"]}}]).addTo(map)
                              .bindPopup(`{{ restaurant["name"]}} {{ restaurant["description"]}} <img src="{{restaurant['image']}}" class="card-img-top md" alt="{{restaurant['name']}}">`)
                              .openPopup();
                    {% endfor %}
               {% endif %}

          </script>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>

          <script src="../static/javascript/script.js"></script>          
     </section>
</body>
</html>

