{# <section class="section-browser-body">
    <section class="section-browser-searchs">
        {% if search_results %}
            <h2>Search Results</h2>
            <section class="section-card-group">
                {% with group="searchs", current_page = current_paginationSearchs_int, max_page = max_paginationsearchs %}
                    {% include "components/pagination.html.jinja" %}
                {% endwith%}
                {% for restaurant in search_results %}
                    {% with restaurant = restaurant %}
                            {% include "components/restaurant_card.html.jinja"%}
                    {% endwith %}
                {% endfor %}
            </section>
        {% elif current_paginationSearchs_int > max_paginationsearchs %}
            <h2>Search Results</h2>
            <section class="section-card-group">
                {% with group="searchs", current_page = current_paginationSearchs_int, max_page = max_paginationsearchs %}
                    {% include "components/pagination.html.jinja" %}
                {% endwith%}
                <p>You don't have more than {{ max_paginationsearchs }} pages of search results.</p>
                <p>You are on page {{ current_paginationSearchs_int }} of search results.</p>
            </section>
        {% elif search_input %}
            <h2>Search Results</h2>
            <section class="section-card-group">
                {% with group="searchs", current_page = current_paginationSearchs_int, max_page = max_paginationsearchs %}
                    {% include "components/pagination.html.jinja" %}
                {% endwith%}
                <p>No Match</p>                
            </section>
        {% endif %}
    </section>
    
    {% if search_input %}
        <hr>
    {% endif %}

    <section class="section-browser-favorites">
        <h2>Favorites</h2>  
        <section class="section-card-group">
            {% with group="favorites", current_page = current_paginationFavorites_int, max_page = max_paginationFavorites %}
                {% include "components/pagination.html.jinja" %}
            {% endwith%}
            {% if (favorite_results|length) > 0 %}
                {% for restaurant in favorite_results %}
                    {% with restaurant = restaurant %}
                        {% include "components/restaurant_card.html.jinja"%}
                    {% endwith %}
                {% endfor %}
            {% elif  current_paginationFavorites_int > max_paginationFavorites %}
                <p>You don't have more than {{ max_paginationFavorites }} pages of favorites.</p>
                <p>You are on page {{ current_paginationFavorites_int }} of favorites.</p>
            {% else %}
                <p>You don't have any Favorites. You can add a favorite by presssing the hearts.</p>
            {% endif %}      
        </section>              
    </section>

    <hr>

    <section class="section-browser-recommendations">

        <h2 class="h2-browser-header">Recommendations</h2>
        <section class="section-card-group">
            {% with group="recommendations", current_page = current_paginationRecommendations_int, max_page = max_paginationRecommendations %}
                {% include "components/pagination.html.jinja" %}
            {% endwith%}
            {% if recommendation_results|length > 0 %}
                {% for restaurant in recommendation_results %}
                    {% with restaurant = restaurant %}
                        {% include "components/restaurant_card.html.jinja"%}
                    {% endwith %}
                {% endfor %}
            {% elif current_paginationRecommendations_int > max_paginationRecommendations %}
                <p>There isn't more than {{ max_paginationRecommendations }} pages of recommendations.</p>
                <p>You are on page {{ current_paginationRecommendations_int }} of recommendations.</p>
            {% endif %}
        </section>
    </section>

</section> #}


<article>

    {% for  %}




</article>