{% set search_input =  
                request.args.get('query') 
                or 
                request.args.get('dietary_restriction_radio') 
                or
                request.args.get('price_min_filter') 
                or 
                request.args.get('price_max_filter') 
%}
<section class="section-browser-body">
    <section class="section-browser-searchs">
        {% if search_information %}
            <h2>Search Results</h2>
            <section class="section-card-group">
                {% for restaurant in search_information %}
                    {% with restaurant = restaurant %}
                            {% include "components/restaurant_card.html.jinja"%}
                    {% endwith %}
                {% endfor %}
            </section>
        {% elif search_input %}
            <h2>Search Results</h2>
            <section class="section-card-group">
                <p>No Match</p>
            </section>
        {% endif %}
    </section>
    
    {% if search_input %}
        <hr>
    {% endif %}

    <section class="section-browser-favorites">
        <h2>Favorites</h2>  
        <section class="section-card-group">
            {% if user_favorite_present %}
                {% for restaurant in restaurant_information %}
                    {% if (restaurant["user_id"] == current_user.id) %}
                        {% with restaurant = restaurant %}
                            {% include "components/restaurant_card.html.jinja"%}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            {% else %}
                    <p>You don't have any Favorites. You can add a favorite by presssing the hearts.</p>
            {% endif %}      
        </section>              
    </section>

    <hr>

    <section class="section-browser-recommendations">
            <h2>Recommendations</h2>
            <section class="section-card-group">
                {% for restaurant in restaurant_information %}
                    {% with restaurant = restaurant %}
                        {% include "components/restaurant_card.html.jinja"%}
                    {% endwith %}
                {% endfor %}
            </section>
    </section>

</section>