{% if browser_publicData["current_user"]["inputs"]["has_searchFilters"] %}
    {% set toLoad_sections = ["searches", "favorites", "recommendations"] %}
{% else %}
    {% set toLoad_sections = ["favorites", "recommendations"] %}
{% endif %}

<article class="">
    {% for restoSection in toLoad_sections %}
        {% with section_data = browser_publicData[restoSection] %}

        <section class="container mb-3">
            {# Header #}
            <header class="OE-bg-transparent-white">
                <h2 class="h-1">
                    {{restoSection.capitalize()}}
                </h2>
            </header>

            <section class="OE-bg-transparent-white">
                <figure class="overflow-y-hidden overflow-x-scroll m-0 p-0" style="width:100%">
                    
                    {# Card Group Inner #}
                    {% if section_data["results"] %}
                        <div class="text-nowrap pt-3 pb-3">
                            {% for restaurant in list(section_data["results"]) %}
                                {% include "components/resto_card.html.jinja"%}
                            {% endfor %}
                        </div>
                    {% else %}


                    {% endif %}

                </figure>
            </section>

            <footer class="OE-bg-transparent-white">
                <nav class="">
                    <menu class="OE-menu-pagination">
                        <li>
                            <button class="" onclick="turn_currentPagination(1, '{{ restoSection }}-turnPage-current')">
                                1
                            </button>
                        </li>
                        <li>
                            <button class="" onclick="turn_currentPagination({{ section_data['current_page'] - 1 }}, '{{ restoSection }}-turnPage-current')">
                                <img src="/static/images/svgs/arrow_left.svg">
                            </button>
                        </li>


                        <li>
                            <input class="" type="number" value="{{ section_data['current_page'] }}" 
                            name="pagination-{{ group }}" form="searchBar_form">
                        </li>

                        <li>
                            <button class="" onclick="turn_currentPagination({{ section_data['current_page'] + 1 }}, '{{ restoSection }}-turnPage-current')">
                                <img src="/static/images/svgs/arrow_right.svg">
                            </button>
                        </li>
                        <li>
                            <button class="" onclick="turn_currentPagination({{ section_data['max_page'] }}, '{{ restoSection }}-turnPage-current')">
                                {{ section_data['max_page'] }}
                            </button>
                        </li>
                    </menu>
                </nav>
            </footer>

        </section>
        <hr>
        {% endwith %}
    {% endfor %}
</article>