
<section class="container row g-1 row g-md-4 mx-auto">

    <div style="overflow: scroll; height: 100%;">
        {% if search_information %}
                <div class="container row g-1 row g-md-4 mx-auto">
                <h2>Search Results</h2>
                {% for restaurant in search_information %}
                    {% with restaurant = restaurant %}
                        {% include "components/restaurants_card.html.jinja" %}
                    {% endwith %}
                {% endfor %}
                </div>
        {% elif 
                request.args.get('query') 
                or 
                request.args.get('dietary_restriction_radio') 
                or
                request.args.get('price_min_filter') 
                or 
                request.args.get('price_max_filter') 
        %}
                <div class="container row g-1 row g-md-4 mx-auto">
                <h2>Search Results</h2>
                <div>
                    <p>No Match</p>
                </div>
                </div>

        {% else %}

        {% endif %}
    </div>
</section>

<hr>

<section class="container row g-1 row g-md-4 mx-auto">
    <h2>Favorites</h2>
    {% for restaurant in restaurant_information %}
        {% if restaurant["user_id"] == current_user.id %}
                {% with restaurant = restaurant %}
                    {% include "components/restaurants_card.html.jinja" %}
                {% endwith %}
        {% endif %}
    {% endfor %}
</section>

<hr>

<section class="container row g-1 row g-md-4 mx-auto">
    <h2>Recommendations</h2>

    {% for restaurant in restaurant_information %}
        {% with restaurant = restaurant %}
                {% include "components/restaurants_card.html.jinja" %}
        {% endwith %}
    {% endfor %}
</section>
