<nav class="BW-nav-browser-pagination">
    <ul class="BW-ul-pagination-vertical">
        <li class="BW-li-pagination-item BW-pagination-back">
            <button class="BW-input-pagination-turnPage BW-pagination-turnPage-'group'" type="submit" value="{{ current_page - 1}}" form="searchBar_form" onclick="name_ifFocused(group)">
                <img src="/static/images/svgs/doubleArrow_up.svg">
            </button>
        </li>
        <li class="BW-li-pagination-item BW-pagination-min">
            <button class="BW-input-pagination-turnPage BW-pagination-turnPage-'group'" type="submit" value="1" form="searchBar_form" onclick="name_ifFocused(group)">
                <p>1</p>
            </button>
        </li>

        <li class="BW-li-pagination-item BW-pagination-current">
            <input class="BW-input-pagination-turnPage BW-pagination-turnPage-'group'" type="number" value="{{ current_page }}" form="searchBar_form" onclick="name_ifFocused(group)">
        </li>

        <li class="BW-li-pagination-item BW-pagination-max">
            <button class="BW-input-pagination-turnPage BW-pagination-turnPage-'group'" type="submit" value="{{ max_page }}" form="searchBar_form" onclick="name_ifFocused(group)">
                <p>{{ max_page }}</p>
            </button>
        </li>
        <li class="BW-li-pagination-item BW-pagination-forward">
            <button class="BW-input-pagination-turnPage BW-pagination-turnPage-'group'" type="submit" name="pagination-'group'" value="{{ current_page + 1}}" form="searchBar_form" onclick="name_ifFocused(group)">
                <img src="/static/images/svgs/doubleArrow_down.svg">
            </button>
        </li>
    </ul>
</nav>