<article class="card">
    <header class="header-card-topButtons">
        {% if restaurant["user_id"] == current_user.id %}
            <form action="/restaurant_browser/delete_favorite/{{ restaurant['favorite_restaurants_id'] }}" method="post">
                <button type="submit" class="btn btn-primary">
                    <img src="/static/images/svgs/heart_filled.svg">
                </button>
            </form>
        {% else %}
            <form action="/restaurant_browser/insert_favorite/{{ restaurant['restaurant_id'] }}" method="post">
                <button type="submit" class="btn btn-primary">
                    <img src="/static/images/svgs/heart_empty.svg">
                </button>
            </form>
        {% endif %} 
    </header>
    <a href="/individual_restaurant/{{ restaurant['restaurant_id'] }}" class='text-decoration-none a-card-main'>
        <section class="sections-card-imgsBox">
            <figure class="figure-card-imgFrame">
                <img src="{{restaurant['image']}}" alt="{{restaurant['name']}}">
            </figure>
        </section>
        <section class="card-body text-truncate">
            <h5 class="card-title text-truncate">{{ restaurant["name"] }}</h5>
            <p class="card-text text-truncate">Type: {{ restaurant["type"] }}</p>
            
            <p class="card-text text-truncate">
                Cost: $<span>{{ restaurant["min_cost"] }}</span>-<span>{{ restaurant["max_cost"] }}</span>
            </p>
        </section>
    </a>
</article>