<div>
    {% if star_count == none %}
        {% for n in range(5) %}
            <img src="/static/images/svgs/star_empty.svg">
        {% endfor %}
    {% else %}
        {% for n in range(star_count|round|int) %}
            <img src="/static/images/svgs/star_filled.svg">
        {% endfor %}
        {% for n in range(5 - star_count|round|int) %}
            <img src="/static/images/svgs/star_empty.svg">
        {% endfor %}
    {% endif %}
</div>